<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Shelf log</title>
    </head>

    <body>
        <main>
            <nav>
                <a href="{% url 'book-list' %}">books</a>
                <a href="{% url 'album-list' %}">music</a>
                <a href="{% url 'film-list' %}">films</a>
            </nav>
            <section>{% block content %}{% endblock %}</section>
        </main>
    </body>
</html>
